//container内のブロック要素
.c-section {
	width: 100%;
	~ .c-section {
		margin-top: 60px;
		@include mqMd {
			margin-top: 40px;
		}
		@include mqSm {
			margin-top: calcVw(60);
		}
	}
	&--inner {
		width: 1000px;
		max-width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
		@include mqLg {
			max-width: calc(100% - 60px);
		}
		@include mqSm {
			max-width: calc(100% - 17.333vw);
			&.-spFull {
				max-width: 100%;
				padding-left: calcVw(30);
				padding-right: calcVw(30);
			}
		}
	}
	&--innerWide {
		width: 1380px;
		max-width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
		@include mqSm {
			max-width: calc(100% - 17.333vw);
			&.-spFull {
				max-width: 100%;
				padding-left: calcVw(30);
				padding-right: calcVw(30);
			}
		}
	}


}
