.c-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  width: 100%;

  &__item {
    height: 45px;
    border-radius: 30px;
    font-size: 10px;
    border: 2px solid $color-blue;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s $ease-easeOut;

    &:hover {
      background-color: $color-blue;

      > a {
        color: #fff;
      }
    }
  }

  &--mv {
    position: absolute;
    z-index: 2;
    top: 72%;

    &__item {
      border: 2px solid #fff;

      &:hover {
        background-color: #fff;

        > a {
          color: $link-color;
        }
      }

      &:first-child {
        margin-right: 8vw;
      }

      > a {
        color: #fff;
      }
    }
  }

  &--purchase {
    &__item {
      &:first-child {
        margin-right: 8vw;
      }
    }
  }

  &--contact {
    margin-top: 35px;
    &__item {
      width: 230px;
    }
  }
}
