.c-btn-purchase {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  &__item {
    height: 45px;
    border-radius: 30px;
    font-size: 10px;
    border: 2px solid $color-blue;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-right: 10%;
    }
  }

  &.-mb115 {
    margin-bottom: 115px;
  }
}
