.c-crumb {
	width: 100%;

	&__inner {
		width: 100%;
		display: flex;
		margin: 0 auto;
		font-size: 1.2rem;
		padding: 20px 0px;
	}

	&__item {
		padding-right: .5em;

		//		a {
		//			color: $color-black;
		//		}

		&:after {
			content: " > ";
		}

		&:last-child:after {
			content: none;
		}
	}
}

@media only screen and (max-width: 1100px) {}

@include mqMd {
	.c-crumb {
		&__inner {
			padding: 20px 10px;
			flex-wrap: wrap;
		}
	}
}

@include mqSm {
	.c-crumb {
		&__inner {
			padding: calcVw(20) calcVw(20);
		}
	}
}
