// flex
.c-flex {
	display: flex;
	width: 100%;
	align-content: stretch;
	&--wrap {
		flex-wrap: wrap;
	}
	&--between {
		justify-content: space-between;
	}


	&.-space {
		> * {
			margin-right: 1%;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}



@include mqMd {
	.c-flex {
		&.-dispBlock--md {
			display: block;
			> * {
				margin-bottom: 1em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@include mqSm {
	.c-flex {
		&.-dispBlock--sm {
			display: block;
			> * {
				margin-bottom: 1em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
