.c-footer {
  width: 100%;
  min-width: 100%;
  background: #212121;

  &__inner {
    width: $width-default;
    max-width: 100%;
    margin: 0 auto;

    > * {}

    @include mqMd {}

    @include mqSm {}
  }
}
