// プレースホルダーの色変え
@include placeholderColor($color-gray);

// ---------------------------------------------------------------
//  ※ラジオボタンとチェックボックスのデフォルトスタイルを削除する※
// ---------------------------------------------------------------
input[type='radio'],
input[type='checkbox'] {
  width: 0;
  height: 0;
  float: left;
}

// ---------------------------------------------------------------
//  input
// ---------------------------------------------------------------
.c-input {
  //	background: $color-gray-light;
  max-width: 180px;
  border: 1px solid $color-gray;
  transition: border-color 0.6s $ease-easeOut;
  padding: 0.8em 1em;
  color: $font-color;
  @include transition(box-shadow);

  @include mqSm {
    max-width: none;
  }

  &:focus {
    box-shadow: 0 0 4px rgba($color-marin, 0.8);
  }

  &.is-error {
    border: 1px solid $color-danger;
    background: lighten($color-danger, 40%);
  }

  ///////input-size/////////
  &.-size_full {
    max-width: none;
    width: 100%;
  }

  &.-size_m {
    max-width: none;
    width: 240px;
  }

  &.-size_s {
    max-width: none;
    width: 120px;
  }
}

// ---------------------------------------------------------------
//  textarea
// ---------------------------------------------------------------
.c-textarea {
  @extend .c-input;
  resize: vertical;
  width: 100%;
  min-height: 10em;
  transition: background 0.3s $ease-easeOut;
  display: block;
  max-width: none;

  &:disabled {
    background: $color-gray-light;
  }
}

// ---------------------------------------------------------------
//  select
// ---------------------------------------------------------------
.c-select-wrap {
  position: relative;
  display: block;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 5px 5px 0 5px;
    border-top-color: $color-theme;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    pointer-events: none;

    @include mqMd {
      border-width: 3px 3px 0 3px;
    }
  }

  ///////select-size/////////
  &.-size_full {
    max-width: none;
    width: 100%;
  }

  &.-size_m {
    max-width: none;
    width: 240px;
  }

  &.-size_s {
    max-width: none;
    width: 120px;
  }
}

.c-select {
  color: $font-color;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid $color-gray;
  padding: 0.8em 1em;

  @include mqSm {
    padding: 0.5em 1em;
  }

  transition: border-color 0.6s $ease-easeOut;
  cursor: pointer;
  background: #fff;

  &:focus {
    border-color: darken($color-gray, 30%);
  }

  &::-ms-expand {
    display: none;
  }

  &.is-error {
    border: 1px solid $color-danger;
    background: lighten($color-danger, 40%);
  }
}

.c-formYmd {
  display: flex;

  > * {
    padding-right: 20px;
    min-width: 20%;

    &:first-child {
      min-width: 30%;
    }

    @include mqSm {
      width: 100%;
      padding-right: calcVw(30);

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .c-select-wrap {
    display: block;

    @include mqSm {
      display: block;
    }
  }
}

// ---------------------------------------------------------------
//  radio
// ---------------------------------------------------------------
.c-radio {
  position: relative;
  display: inline-block;
  padding: 0 5px 0 25px;
  vertical-align: middle;
  cursor: pointer;

  &.is-error {
    color: $color-danger;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
  }

  &:before {
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    left: 0;
    border: 1px solid transparent;
    background: $color-gray-light;
    border: 1px solid $color-gray;
    @include transition((background, border));

    input[type='radio']:checked + & {
      background: #fff;
      border-color: $color-gray;
    }
  }

  &:after {
    width: 8px;
    height: 8px;
    top: calc(50% - 4px);
    left: 4px;
    @include transition(background);

    input[type='radio']:checked + & {
      background: $color-theme;
    }
  }
}

.c-radio-list {
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  &.is-error {
    color: $color-danger;
  }

  &.-size_M {
    > * {
      min-width: 29%;
    }
  }

  &__item {
    margin-right: 25px;
    line-height: 1.5;

    @include mqSm {
      margin-right: 12px;
      width: 100%;

      & ~ & {
        margin-top: 1em;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--column {
    flex-direction: column;
    align-items: flex-start;

    .c-radio-list__item {
      margin-right: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// ---------------------------------------------------------------
//  check
// ---------------------------------------------------------------
.c-checkbox {
  @include transition(background-color);
  position: relative;
  display: inline-block;
  padding: 5px 15px 5px 33px;
  vertical-align: middle;
  cursor: pointer;

  &:after {
    @include transition((border, background));
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: $color-beige;
    content: '';
    border-radius: 2px;
    border: 1px solid $color-gray;

    input[type='checkbox']:checked + & {
      background: #fff;
      border-color: $color-gray;
    }
  }

  &:before {
    @include transition(opacity);
    position: absolute;
    top: calc(50% - 9px);
    left: 5px;
    display: block;
    width: 9px;
    height: 14px;
    border-right: 3px solid $color-theme;
    border-bottom: 3px solid $color-theme;
    content: '';
    opacity: 0;
    transform: rotate(45deg);
    z-index: 1;

    input[type='checkbox']:checked + & {
      opacity: 1;
    }
  }

  // &--itself {
  //   padding: 0;
  //   width: 20px;
  // }

}

.c-check-list {
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  &.is-error {
    color: $color-danger;
  }

  @include mqSm {
    > * {
      min-width: 50%;
      margin-top: 0.5em;
    }
  }

  &--half {
    > * {
      min-width: 50%;
    }

    &.-spfull {
      > * {
        @include mqSm {
          width: 100%;
        }
      }
    }
  }

  &--column {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -0.5em;

    .c-check-list__item {
      margin-bottom: 0.5em;
      width: 100%;
    }

    @include mqSm {
      input {
        display: block;
        width: 100%;
      }
    }
  }

  &__item {
    margin-right: 25px;
    line-height: 1.5;

    @include mqSm {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

// ---------------------------------------------------------------
//  file
// ---------------------------------------------------------------
.c-file {
  position: relative;

  .c-file_label {
    -js-display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
  }

  &_data {
    display: none;
  }

  &_btn {
    margin-right: 15px;
    width: 120px;
    align-self: stretch;
    display: flex;
    align-items: center;

    > span {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      &:before {
        display: none;
      }
    }
  }

  &_txt {
    width: 100%;
    flex: 1;
    pointer-events: none;
    height: 100%;
  }

  &_delete {
    width: 30px;
    height: 30px;
    flex: none;
    background: $color-theme-light;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -5px;
    cursor: pointer;
    transition: background 0.6s $ease-easeOut;
    border: 1px solid transparent;

    &:before {
      content: '\e870';
      font-family: 'icomoon';
      color: #fff;
      @include fontSize(1.6);
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: color 0.6s $ease-easeOut;
    }

    @include hover {
      background: darken($color-theme-light, 7%);
    }
  }
}

////////////////////////////////
// 横並びの名前のブロック
///////////////////////////////
$form-gutter: 37px;
$form-gutter-sm: 5vw;

.c-form-name {
  display: flex;

  &__block {
    @include mqMd {
      flex: 1;
    }

    & ~ & {
      margin-left: $form-gutter;

      @include mqSm {
        margin-left: $form-gutter-sm;
      }
    }
  }

  input {
    width: 12em;

    @include mqMd {
      width: 100%;
    }
  }
}

////////////////////////////////
// 横並びの電話番号のブロック
///////////////////////////////
.c-form-tel {
  display: flex;

  &__block {
    // flex: 1;

    & ~ & {
      margin-left: $form-gutter;
      position: relative;

      @include mqSm {
        margin-left: $form-gutter-sm;
      }

      &:before {
        content: '-';
        font-weight: bold;
        position: absolute;
        left: calc(-#{$form-gutter / 2} - 0.2em);
        top: calc(50% - 0.5em);

        @include mqSm {
          left: calc(-#{$form-gutter-sm / 2} - 0.2em);
        }
      }
    }

    @include mqMd {
      > .c-input {
        max-width: 5em;
      }
    }

    @include mqSm {

      //  flex: 1;
      > .c-input {
        max-width: 20vw;
      }
    }

  }
}


////////////////////////////////
// 横並びの郵便番号のブロック
///////////////////////////////
.c-form-zip {
  display: flex;

  &__block {
    & ~ & {
      margin-left: $form-gutter;
      position: relative;

      @include mqSm {
        margin-left: $form-gutter-sm;
      }

      &:before {
        content: '-';
        font-weight: bold;
        position: absolute;
        left: calc(-#{$form-gutter / 2} - 0.2em);
        top: calc(50% - 0.5em);

        @include mqSm {
          left: calc(-#{$form-gutter-sm / 2} - 0.2em);
        }
      }
    }

    &:nth-child(1) {
      input {
        width: 5em;
      }
    }

    &:nth-child(2) {
      input {
        width: 6em;
      }
    }
  }

  &__btn {
    height: 50px;
    border-radius: 5px;
    letter-spacing: 0;
    padding: 0 2em;
    margin-left: 20px;

    @include mqSm {
      height: 4em;
    }
  }
}

/////////////////
///フォームテーブル
/////////////////
.c-formBox {
  display: flex;
  align-items: stretch;
  border-bottom: none;
  min-height: 56px;

  &.-top {
    border-top: 1px solid $color-gray-light;
    //    padding-top: 30px;
  }

  @include mqSm {
    flex-wrap: wrap;
    margin-bottom: calcVw(30);
  }

  & ~ & {
    margin-top: 0px;
    //    border-top: 1px dotted $color-gray;
    padding-top: 0px;
  }

  &__ttl {
    width: 280px;
    font-weight: 700;
    padding: 13px 15px 0;
    margin-right: 15px; //    border-right: 1px dotted #d5d5d5;
    align-self: stretch;
    display: flex;
    justify-content: flex-start; //	justify-content: space-between;
    line-height: 1.5;
    align-items: baseline;
    border-bottom: 1px solid #fff;
    color: $color-theme;
    background: #F5F7FC;

    &.-top {
      border-top: 1px solid #fff;
      //    padding-top: 30px;
    }

    @include mqMd {
      width: 180px;
    }

    @include mqSm {
      width: 100%;
      margin-right: 0;
      padding: 0.8em 5px;
      border-bottom: none;
    }

    > * {
      font-weight: 700;
    }

    &--req:after {
      content: '必須';
      display: block;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: normal;
      color: #fff;
      background: $color-red;
      padding: .4em .8em;
      border-radius: 3px;
      flex: none;
      line-height: 1;
      margin-left: 1.5em;

      @include mqSm {
        @include fontSize(1.0, sp);
      }
    }

    &--free:after {
      content: '任意';
      display: block;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: normal;
      color: $color-theme;
      border: 1px solid $color-theme;
      background: #fff;
      padding: .4em .8em;
      border-radius: 3px;
      flex: none;
      line-height: 1;
      margin-left: 1.5em;

      @include mqSm {
        @include fontSize(1.0, sp);
      }
    }
  }

  &__body {
    flex: 1;
    padding: 13px 13px 13px 0;
    line-height: 1.5;
    align-self: stretch;
    border-bottom: 1px solid #ececec;

    &.-top {
      border-top: 1px solid #ececec;
      //    padding-top: 30px;
    }

    @include mqMd {
      width: 100%;
    }

    @include mqSm {
      width: 100%;
      padding-right: 0;
    }
  }

  &__txt {
    margin-bottom: 15px;
  }

  &.-wrap {
    flex-wrap: wrap;

    > * {
      width: 100%;

    }

    .c-formBox {
      &__ttl {
        //padding: 15px 0 15px;
        margin-bottom: 15px;
        padding: 0;
        border-bottom: none;
      }

      &__body {
        padding: 0;
        //padding: 0 0 15px;
      }

    }
  }

}

.c-formName {
  display: flex;
  align-items: center;

  &_first > input {
    width: 10em;
  }

  &_last {
    > input {
      width: 10em;
    }

    margin-left: 19px;
  }

  @include mqSm {

    &_first,
    &_last {
      flex: 1;

      > input {
        width: 100%;
      }
    }
  }
}

/////////////////////////
/////////////error///////
/////////////////////////
.c-formErrorMessage {
  color: $color-red;
  margin-top: 0.5em;

  > * {
    position: relative;
    padding-left: 15px;
    display: table;
    font-weight: 500;

    &:before {
      content: '';
      width: 6px;
      height: 6px;
      background: $color-red;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 0;
    }

    @include mqSm {
      @include fontSize(1.2, sp);
    }
  }

}
