$color-bg-blue: #F5F7FC;
$gutter-l:35px;
$gutter-m:25px;
$gutter-s:15px;

.c-table {
  width: 100%;
  border-top: 1px solid #d5d5d5;
  @include fontSize(1.5);

  @include mqSm {
    @include fontSize(1.6, sp);
  }


  & ~ & {
    margin-top: 30px;

    @include mqSm {
      margin-top: 15px
    }
  }

  tr {
    border-bottom: 1px solid #d5d5d5;
  }

  th,
  td {
    line-height: 1.5;
    padding: $gutter-m $gutter-l;

    @include mqSm {
      width: 100%;
      display: block;
    }

  }

  th {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    width: 190px;
    background: $color-bg-blue;
    color: $color-theme;

    @include mqSm {
      padding: 1em;
      text-align: center;
    }

  }

  td {
    text-align: center;

    @include mqMd {
//      width: 30%
    }

    @include mqSm {
      padding: 1em;
    }

  }

  &__ttl {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &--left td {
    text-align: left;
  }
}
