// telリンクをブラウザ幅が大きい場合無効にする。
// ※IE11未満は効かない

a[href^='tel:'] {
  pointer-events: none;
  text-decoration: none;
  @include mqMd {
    pointer-events: fill;
    text-decoration: underline;
  }
}
