<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <%- include('../components/_header'); %> <%- include('../components/_gnav');
    %>
    <main class="l-main">
      <section class="c-panel">
        <div class="c-container"></div>
        <!-- /.c-container -->
      </section>
    </main>
    <!-- /.l-main -->
    <%- include('../components/_footer'); %>
  </body>
</html>
