@charset "UTF-8";
/* =========================================================
 Foundation
========================================================= */
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-block {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-block ~ .p-block {
  margin-top: 700px;
}

.js-inView.is-show {
  opacity: 1;
  transform: translate(0);
  transition-property: opacity, transform;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.24, 1, 0.32, 1);
  transform: scale(1, 1);
}

.js-inView-fadeInUp {
  opacity: 0;
  transform: translateY(50px);
}

.js-inView-fadeInLeft {
  opacity: 0;
  transform: translateX(-50px);
}

.js-inView-fadeInRight {
  opacity: 0;
  transform: translateX(50px);
}

.js-inView-fadeInRightUp {
  opacity: 0;
  transform: translate(50px, -50px);
}

.js-inView-zoomIn {
  transform: scale(0, 0);
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
sub,
sup,
var,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

sup {
  font-size: 75.5%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "M PLUS 1p", Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.01em;
  line-height: 1.65;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 13px;
    font-size: 3.46667vw;
  }
}

@media all and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  main {
    display: block;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #4d66cb;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.24, 1, 0.32, 1);
}

a:hover {
  color: #fff;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.65;
}

img {
  max-width: 100%;
}

/* =========================================================
 Layout
========================================================= */
/* =========================================================
 Object
========================================================= */
/* ---------------------------------------------------------
 Component
--------------------------------------------------------- */
.c-container {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

.c-container-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.c-card {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.c-card.-reverse {
  flex-direction: row-reverse;
}

.c-card-box:first-child {
  width: 40%;
}

.c-card-box:last-child {
  width: 60%;
}

.c-card__head {
  font-size: 27px;
}

.c-card__body {
  margin-top: 30px;
  padding: 0 25px;
}

.c-card__body--txt:nth-child(2) {
  padding-top: 10px;
}

.c-panel {
  margin-bottom: 40px;
}

.c-panel__head {
  font-size: 2em;
  padding-top: 110px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.c-panel__head--sub {
  padding-top: 30px;
  padding-bottom: 5px;
}

.c-panel__body {
  font-size: 0.875em;
}

.c-panel__body--txt {
  line-height: 2.2;
  margin-bottom: 20px;
}

.c-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.c-btn__item {
  height: 45px;
  border-radius: 30px;
  font-size: 10px;
  border: 2px solid #4d66cb;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-btn-purchase .c-btn__item:first-child {
  margin-right: 8vw;
}

.c-btn-contact {
  margin-top: 35px;
}

.c-btn-contact .c-btn__item {
  width: 250px;
}

.c-btn.-mb115 {
  margin-bottom: 115px;
}

.c-capture {
  margin-top: 30px;
  line-height: 1.4;
}

/* ---------------------------------------------------------
 Project
--------------------------------------------------------- */
.p-control {
  margin-bottom: 0;
}

.p-life__body--txt {
  padding-top: 10px;
}

.p-life__body--scene {
  padding: 20px 18% 60px;
}

.p-life-scene {
  display: flex;
  justify-content: center;
}

.p-life-scene__item {
  margin-right: 4vw;
  flex: 1;
}

.p-life-scene__item--link {
  position: relative;
}

.p-life-scene__item--link::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #c3ccee;
  bottom: -3px;
  left: 0;
}

.p-life-scene__item:last-child {
  margin-right: 0;
}

.p-life .c-panel__head {
  padding-top: 20px;
}

.p-remote__body--image {
  margin-top: 110px;
  padding: 0px 18% 5px;
}

.p-rule__body--card {
  margin-top: 110px;
}

.p-mechanism__body--txt {
  line-height: 1.4;
}

.p-mechanism__body--image {
  margin-top: 40px;
}

.p-mechanism__capture {
  margin-bottom: -40px;
}

.p-model__body--image {
  padding: 0px 13%;
}

.p-model__capture {
  text-align: left;
}

.p-voice__body {
  margin-top: 40px;
}

.p-voice__body--voices > * {
  margin-bottom: 50px;
  line-height: 1.2;
}

.p-voice__body--image {
  margin-top: -15px;
}

.p-voice__body--movie {
  margin-top: 35px;
  margin-bottom: 35px;
}

.p-os-list {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.p-os-list__head {
  margin-right: 5em;
}

.p-os-list:last-child {
  font-size: 16px;
  margin-top: 10px;
}

.p-store__body {
  font-weight: 500;
  font-size: 16px;
}

.p-store__body--image {
  margin: 45px 0;
}

.p-api__body {
  font-size: 16px;
  font-weight: 500;
}

.p-api__body--link {
  padding-top: 5px;
}

.p-api__body--link a {
  color: #333;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid #ddd;
}

.p-contact__body {
  font-size: 16px;
  font-weight: 500;
}

/* ---------------------------------------------------------
 Utility
--------------------------------------------------------- */
.u-border-top {
  border-top: 1px solid #bbb;
}
