<header class="l-header">
  <a href="" class="l-header-logo"
    ><img src="image/img_nature.png" alt="" class="l-header-logo__img"
  /></a>
  <nav class="l-header-nav">
    <ul class="l-nav">
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c">Nature Remo</span></a
        >
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c">Nature Remo E</span></a
        >
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ミッション</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ブログ</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">お知らせ</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ヘルプセンター</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c">English</span></a
        >
      </li>
    </ul>
  </nav>
</header>
<!-- /.l-header -->
