.p-api {
  &__body {
    font-size: 16px;
    font-weight: 500;

    &--txt {
      @include mqSm {
        line-height: 2.2;
      }
    }

    &--link {
      padding-top: 5px;

      @include mqSm {
        margin-bottom: 50px;
      }

      a {
        color: $link-color;
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
