.p-api {
  &__body {
    font-size: 16px;
    font-weight: 500;

    &--link {
      padding-top: 5px;

      a {
        color: $link-color;
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
